<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Search.Root" value="" />
        <add key="Search.Filename" value="" />
        <add key="Search.Keyword" value="" />
        <add key="TextEditor" value="%windir%\notepad.exe"/>
    </appSettings>
</configuration>